 <html>
	<head>
		<title>Lowen Beats</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<script src="/stylesheets/jquery-3.4.1-min.js" type="text/javascript"></script>
		<script src="/stylesheets/app.js" type="text/javascript"></script>
	</head>
		<body>
