<!DOCTYPE html>
<html>
    <head>
        <title>Lowen Beats</title>
		<link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    </head>
	
	
	
    <body>
	
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand">Navbar</a>
		
		
		<a class="nav-link active" href="#">Active</a>
		
	</nav>
	

	<div class="mainScreen container">
		<h1>Main Screen h1</h1>
	</div>
	
	
	<div class="resources container">
		<h1>resources h1</h1>
	</div>
	
	
	<div class="services container">
		<h1>services h1</h1>
	</div>

    </body>
	
	
	
</html>