<!DOCTYPE html>
<html>
    <head>
        <title>Lowen Beats</title>
		
		<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    </head>
    <body>
	
	<nav class="navbar navbar-expand fixed-top navbar-light">
		<ul class="navbar-nav mx-auto">
        	<li class="nav-item active">
        		<a class="nav-link navFont" href="#">Home <span class="sr-only">(current)</span></a>
      		</li>
      		<li class="nav-item mx-5">
        		<a class="nav-link navFont" href="#">Library</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link navFont" href="#">Contact</a>
      		</li>
    	</ul>
	</nav>
	
	<div class="homeScreen container-fluid mainScreen">
		<div class="row mt-5">
			<span class="col-1"></span>
			<div class="col-10">
				<div class="centerOS">
					<h2>The story of a man who sat down on Fl Studio,</h2>
					<h1>and never got back up.</h1>
					<button type="button" class="btn btn-outline-success btn-lg mt-5">That Story</button>
				</div>
				<!--<div class="embed-responsive embed-responsive-16by9">
  					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
				</div>-->			
			</div>
			<span class="col-1"></span>
		</div>
	</div>
	
	
	<div class="resources container-fluid mainScreen mx-auto">
		<form class="monsterrat">
			<h1> Input a song. </h1>
			<div class="form-group">
    			<label for="inputSongTitle">Song Title</label>
    			<input type="text" class="form-control" id="inputSongTitle" aria-describedby="songHelp" placeholder="Title">
    			<small id="songHelp" class="form-text text-muted">It does not have to be that great.</small>
  			</div>

  			<div class="form-group">
    			<label for="inputSongDesc">Song Description</label>
    			<textarea class="form-control" id="inputSongDesc" rows="3" placeholder="Description."></textarea>
  			</div>

  			<div class="form-group">
   				<label for="inputSongFile">Browse for your file</label>
    			<input type="file" class="form-control-file" id="inputSongFile">
  			</div>

  			
  			<button type="submit" class="btn btn-primary">Submit</button>
		</form> Elouise69
	</div>
	
	
	<div class="services container-fluid mainScreen">
		<h1>Songs</h1>
	</div>
	
	<div class="bottomFooter container">
		<h1>footer h1</h1>

	</div>

    </body>
</html>